openapi: 3.0.0
info:
  title: API Quote Patrimonial - Open Insurance Brasil
  description: |
    API de Cotação Patrimonial do Open Insurance Brasil - Fase 3.\
    Recebe informações da solicitação de cotação e contratação vindas das instituições iniciadoras.\
    Possui um conjunto de endpoints por ramo de produto e um conjunto específico de endpoints para ramos classificados como LEAD OPIN.\
    Requer consentimento do cliente para todos os 'endpoints'.
    
    # Orientações
    A `Role` do diretório de participantes relacionada à presente API é a `ICS`.\
    Para todos os `endpoints` desta API é previsto o envio de um `token` através do header `Authorization`.\
    Os dados serão entregues pela iniciadora na seguradora desde que o `consentId` relacionado corresponda a um consentimento válido e com o status `AUTHORISED`.\
    Relacionamos a seguir as `permissions` necessárias para o envio de dados em cada `endpoint` da presente API.

    ## Permissions necessárias para a API Quote Patrimonial

    Para cada um dos `paths` desta API, além dos escopos (`scopes`) indicados existem `permissions` que deverão ser observadas:

    ### `/lead/request`
      - permissions:
        - POST: **QUOTE_PATRIMONIAL_LEAD_CREATE**   
    ### `/lead/request/{consentId}`
      - permissions:      
        - PATCH: **QUOTE_PATRIMONIAL_LEAD_UPDATE**
    ### `/home/request/{consentId}/quote-status`
      - permissions:
        - GET: **QUOTE_PATRIMONIAL_HOME_READ**    
    ### `/home/request`
      - permissions:   
        - POST: **QUOTE_PATRIMONIAL_HOME_CREATE**   
    ### `/home/request/{consentId}`
      - permissions:   
        - PATCH: **QUOTE_PATRIMONIAL_HOME_UPDATE**
    ### `/condominium/request/{consentId}/quote-status`
      - permissions:
        - GET: **QUOTE_PATRIMONIAL_CONDOMINIUM_READ**    
    ### `/condominium/request`
      - permissions:   
        - POST: **QUOTE_PATRIMONIAL_CONDOMINIUM_CREATE**   
    ### `/condominium/request/{consentId}`
      - permissions:   
        - PATCH: **QUOTE_PATRIMONIAL_CONDOMINIUM_UPDATE**
    ### `/business/request/{consentId}/quote-status`
      - permissions:
        - GET: **QUOTE_PATRIMONIAL_BUSINESS_READ**    
    ### `/business/request`
      - permissions:   
        - POST: **QUOTE_PATRIMONIAL_BUSINESS_CREATE**   
    ### `/business/request/{consentId}`
      - permissions:   
        - PATCH: **QUOTE_PATRIMONIAL_BUSINESS_UPDATE**
    ### `/diverse-risks/request/{consentId}/quote-status`
      - permissions:
        - GET: **QUOTE_PATRIMONIAL_DIVERSE_RISKS_READ**    
    ### `/diverse-risks/request`
      - permissions:   
        - POST: **QUOTE_PATRIMONIAL_DIVERSE_RISKS_CREATE**   
    ### `/diverse-risks/request/{consentId}`
      - permissions:   
        - PATCH: **QUOTE_PATRIMONIAL_DIVERSE_RISKS_UPDATE**

    ## Válidações Semanticas - Entidade não processável - 422
      - 1 - `Idempotência:` Valida se há divergência entre chave de idempotência e informações enviadas (ERRO_IDEMPOTENCIA);
      - 2 - `Não Informado:` Valida itens não explicitamente informados pelo servidor - (NAO_INFORMADO).   

  version: 1.9.0
  contact:
    name: Governança do Open Insurance Brasil
    url: 'https://www.gov.br/susep'
servers:
  - url: 'https://api.organizacao.com.br/open-insurance/quote-patrimonial/v1'
    description: Servidor de Produção
  - url: 'https://api.organizacao.com.br/open-insurance/quote-patrimonial/v1'
    description: Servidor de Homologação
tags:
  - name: PatrimonialLead
    description: Iniciação de serviços de seguro Cotação Patrimonial (PatrimonialLead)
  - name: PatrimonialHome
    description: Iniciação de serviços de seguro Cotação Patrimonial (PatrimonialHome)
  - name: PatrimonialCondominium
    description: Iniciação de serviços de seguro Cotação Patrimonial (PatrimonialCondominium)
  - name: PatrimonialBusiness
    description: Iniciação de serviços de seguro Cotação Patrimonial (PatrimonialBusiness)
  - name: PatrimonialDiverseRisks
    description: Iniciação de serviços de seguro Cotação Patrimonial (PatrimonialDiverseRisks)
paths:
  /lead/request:
    post:
      tags:
        - PatrimonialLead
      summary: Envia dados de cotação e contratação de PatrimonialLead
      description: "Método para criação de solicitação de cotação e contratação de PatrimonialLead"
      operationId: "postQuotePatrimonialLead"
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/xIdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequestPatrimonialLead'
      responses:
        '201':
          $ref: '#/components/responses/OKResponseQuoteRequestPatrimonialLead'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntityQuote'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:
          - quote-patrimonial-lead
  /lead/request/{consentId}:
    patch:
      tags:
        - PatrimonialLead
      summary: Atualiza dados de cotação e contratação de PatrimonialLead identificado por consentId
      description: "Método para atualização de solicitação de cotação e contratação de PatrimonialLead"
      operationId: "patchQuotePatrimonialLead"
      parameters:
        - $ref: "#/components/parameters/consentId"
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevokePatchPayload'
        description: Payload para postagem da atualização de proposta de cotação.
        required: true
      responses:
        '200':
          $ref: '#/components/responses/200UpdatedQuotePatrimonialLead'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:
          - quote-patrimonial-lead

  /home/request:
    post:
      tags:
        - PatrimonialHome
      summary: Envia dados de cotação e contratação de PatrimonialHome
      description: "Método para criação de solicitação de cotação e contratação de PatrimonialHome"
      operationId: "postQuotePatrimonialHome"
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/xIdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequestPatrimonialHome'
      responses:
        '201':
          $ref: '#/components/responses/OKResponseQuoteRequestPatrimonialHome'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntityQuote'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:
          - quote-patrimonial-home
  /home/request/{consentId}/quote-status:
    get:
      tags:
        - PatrimonialHome
      summary: Obtém os dados de cotação e contratação de PatrimonialHome identificado por consentId
      description: "Método para consulta dos dados de solicitação de cotação e contratação de PatrimonialHome"
      operationId: "getQuotePatrimonialHome"
      parameters:
        - $ref: "#/components/parameters/consentId"
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          $ref: '#/components/responses/200QuoteStatusPatrimonialHome'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:         
          - quote-patrimonial-home
  /home/request/{consentId}:
    patch:
      tags:
        - PatrimonialHome
      summary: Atualiza dados de cotação e contratação de PatrimonialHome identificado por consentId
      description: "Método para atualização de solicitação de cotação e contratação de PatrimonialHome"
      operationId: "patchQuotePatrimonialHome"
      parameters:
        - $ref: "#/components/parameters/consentId"
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPayload'
        description: Payload para postagem da atualização de proposta de cotação.
        required: true
      responses:
        '200':
          $ref: '#/components/responses/200UpdatedQuotePatrimonialHome'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:          
          - quote-patrimonial-home

  /condominium/request:
    post:
      tags:
        - PatrimonialCondominium
      summary: Envia dados de cotação e contratação de PatrimonialCondominium
      description: "Método para criação de solicitação de cotação e contratação de PatrimonialCondominium"
      operationId: "postQuotePatrimonialCondominium"
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/xIdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequestPatrimonialCondominium'
      responses:
        '201':
          $ref: '#/components/responses/OKResponseQuoteRequestPatrimonialCondominium'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntityQuote'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:
          - quote-patrimonial-condominium
  /condominium/request/{consentId}/quote-status:
    get:
      tags:
        - PatrimonialCondominium
      summary: Obtém os dados de cotação e contratação de PatrimonialCondominium identificado por consentId
      description: "Método para consulta dos dados de solicitação de cotação e contratação de PatrimonialCondominium"
      operationId: "getQuotePatrimonialCondominium"
      parameters:
        - $ref: "#/components/parameters/consentId"
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          $ref: '#/components/responses/200QuoteStatusPatrimonialCondominium'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:         
          - quote-patrimonial-condominium
  /condominium/request/{consentId}:
    patch:
      tags:
        - PatrimonialCondominium
      summary: Atualiza dados de cotação e contratação de PatrimonialCondominium identificado por consentId
      description: "Método para atualização de solicitação de cotação e contratação de PatrimonialCondominium"
      operationId: "patchQuotePatrimonialCondominium"
      parameters:
        - $ref: "#/components/parameters/consentId"
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPayload'
        description: Payload para postagem da atualização de proposta de cotação.
        required: true
      responses:
        '200':
          $ref: '#/components/responses/200UpdatedQuotePatrimonialCondominium'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:          
          - quote-patrimonial-condominium

  /business/request:
    post:
      tags:
        - PatrimonialBusiness
      summary: Envia dados de cotação e contratação de PatrimonialBusiness
      description: "Método para criação de solicitação de cotação e contratação de PatrimonialBusiness"
      operationId: "postQuotePatrimonialBusiness"
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/xIdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequestPatrimonialBusiness'
      responses:
        '201':
          $ref: '#/components/responses/OKResponseQuoteRequestPatrimonialBusiness'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntityQuote'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:
          - quote-patrimonial-business
  /business/request/{consentId}/quote-status:
    get:
      tags:
        - PatrimonialBusiness
      summary: Obtém os dados de cotação e contratação de PatrimonialBusiness identificado por consentId
      description: "Método para consulta dos dados de solicitação de cotação e contratação de PatrimonialBusiness"
      operationId: "getQuotePatrimonialBusiness"
      parameters:
        - $ref: "#/components/parameters/consentId"
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          $ref: '#/components/responses/200QuoteStatusPatrimonialBusiness'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:         
          - quote-patrimonial-business
  /business/request/{consentId}:
    patch:
      tags:
        - PatrimonialBusiness
      summary: Atualiza dados de cotação e contratação de PatrimonialBusiness identificado por consentId
      description: "Método para atualização de solicitação de cotação e contratação de PatrimonialBusiness"
      operationId: "patchQuotePatrimonialBusiness"
      parameters:
        - $ref: "#/components/parameters/consentId"
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPayload'
        description: Payload para postagem da atualização de proposta de cotação.
        required: true
      responses:
        '200':
          $ref: '#/components/responses/200UpdatedQuotePatrimonialBusiness'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:          
          - quote-patrimonial-business

  /diverse-risks/request:
    post:
      tags:
        - PatrimonialDiverseRisks
      summary: Envia dados de cotação e contratação de PatrimonialDiverseRisks
      description: "Método para criação de solicitação de cotação e contratação de PatrimonialDiverseRisks"
      operationId: "postQuotePatrimonialDiverseRisks"
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/xIdempotencyKey'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequestPatrimonialDiverseRisks'
      responses:
        '201':
          $ref: '#/components/responses/OKResponseQuoteRequestPatrimonialDiverseRisks'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntityQuote'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:
          - quote-patrimonial-diverse-risks
  /diverse-risks/request/{consentId}/quote-status:
    get:
      tags:
        - PatrimonialDiverseRisks
      summary: Obtém os dados de cotação e contratação de PatrimonialDiverseRisks identificado por consentId
      description: "Método para consulta dos dados de solicitação de cotação e contratação de PatrimonialDiverseRisks"
      operationId: "getQuotePatrimonialDiverseRisks"
      parameters:
        - $ref: "#/components/parameters/consentId"
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageSize"
      responses:
        '200':
          $ref: '#/components/responses/200QuoteStatusPatrimonialDiverseRisks'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:         
          - quote-patrimonial-diverse-risks
  /diverse-risks/request/{consentId}:
    patch:
      tags:
        - PatrimonialDiverseRisks
      summary: Atualiza dados de cotação e contratação de PatrimonialDiverseRisks identificado por consentId
      description: "Método para atualização de solicitação de cotação e contratação de PatrimonialDiverseRisks"
      operationId: "patchQuotePatrimonialDiverseRisks"
      parameters:
        - $ref: "#/components/parameters/consentId"
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchPayload'
        description: Payload para postagem da atualização de proposta de cotação.
        required: true
      responses:
        '200':
          $ref: '#/components/responses/200UpdatedQuotePatrimonialDiverseRisks'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        default:
          description: Erro inesperado.
          content:
            application/json; charset=utf-8:
              schema:
                $ref: '#/components/schemas/ResponseError'
      security:
        - OAuth2Security:          
          - quote-patrimonial-diverse-risks

components:
  schemas:
    PolicyDataPatrimonialLead:
      $ref: '#/components/schemas/PolicyDataPatrimonial'
    PolicyDataPatrimonial: ## schema dados transacionais de fase 2 - atualização pendente
      type: array
      description: Lista que agrupa os dados das apólices históricos em categorias.
      items:
        type: object
        properties:
          policyInfo:
            $ref: '#/components/schemas/InsurancePatrimonialPolicyInfo'  
          premium:
            $ref: '#/components/schemas/InsurancePatrimonialPremium'  
          claim:
            $ref: '#/components/schemas/InsurancePatrimonialClaim'  
    InsurancePatrimonialPolicyInfo:    
      type: object
      description: Objeto que agrupa dados de ápolice.
      required:
        - documentType 
        - policyId
        - issuanceType
        - issuanceDate
        - termStartDate
        - termEndDate
        - maxLMG
        - proposalId
        - insureds
        - insuredObjects
        
      properties:
        documentType:
          description: Tipo de Documento Emitido
          type: string
          enum: [APOLICE_INDIVIDUAL,
                BILHETE,
                CERTIFICADO,
                APOLICE_INDIVIDUAL_AUTOMOVEL,
                APOLICE_FROTA_AUTOMOVEL,
                CERTIFICADO_AUTOMOVEL]
          example: APOLICE_INDIVIDUAL
        policyId:
          description: Identificador da apólice ou bilhete
          type: string
          maxLength: 60
          example: "111111"
        susepProcessNumber: 
          description: Número SUSEP da apólice, conforme regulamentação vigente (Obrigatório caso apólice com coberturas do ramo Garantia)
          type: string
          maxLength: 60
        groupCertificateId: 
          description: "Identificador do Certificado(Caso Tipo de Documento Emitido for certificado)"
          type: string
          maxLength: 60
        issuanceType: 
          description: "Tipo de Emissão"
          type: string
          enum: [EMISSAO_PROPRIA,
                COSSEGURO_ACEITO]
          example: EMISSAO_PROPRIA
        issuanceDate:
          description: Data de emissão do documento
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-12-31'
        termStartDate: 
          description: Data de início de vigência do documento
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-12-31'
        termEndDate:
          description: Data de fim de vigência do documento
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-12-31'
        leadInsurerCode:
          description: "Código da seguradora líder para contratos com arranjo de cosseguro"
          type: string
          maxLength: 1024
        leadInsurerPolicyId:
          description: "Identificador da apólice seguradora líder para apólice de cosseguro aceito"
          type: string
          maxLength: 1024
        maxLMG:
          description: Valor Limite máximo de garantia (LMG)
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        proposalId:
          description: Identificador da Proposta
          type: string
          maxLength: 60
        insureds:
          type: array
          description: Lista que agrupa os dados dos segurados.                                                                                                                             
          items:
            $ref: '#/components/schemas/PersonalInfo'  
        beneficiaries: 
          type: array
          description: Lista que agrupa os dados dos beneficiários.                                                                                    
          items:
            $ref: '#/components/schemas/BeneficiaryInfo'
        principals:
          type: array
          description: Lista que agrupa os dados dos tomadores/garantidos.                                                                                          
          items:
            $ref: '#/components/schemas/PersonalInfo'
        intermediaries:
          type: array
          description: Lista que agrupa os dados de intermediários.                                                                                    
          items:
            $ref: '#/components/schemas/Intermediary'
        insuredObjects:
          type: array
          description: Lista que agrupa os dados de objetos segurados.                                                                                      
          items:
            $ref: '#/components/schemas/InsurancePatrimonialInsuredObject'
        coverages:    
          type: array
          description: Lista que agrupa os dados de coberturas.
          items:
            $ref: '#/components/schemas/InsurancePatrimonialCoverage'
        coinsuranceRetainedPercentage:
          description: "Percentual Retido em Cosseguro (Quando há cosseguro)"
          type: string
          pattern: ^\d{1,3}\.\d{1,9}$
          example: '10.00'
        coinsurers:
          type: array
          description: Lista que agrupa os dados dos cosseguros. 
          items:
            $ref: '#/components/schemas/Coinsurer'
        branchInfo:
          $ref: '#/components/schemas/InsurancePatrimonialSpecificPolicyInfo'
    PersonalInfo:
      type: object
      required:
        - identification
        - identificationType
        - name
        - postCode
        - city
        - state
        - country
        - address
      properties:
        identification:
          description: Documento de Identificação da Pessoa
          type: string
          maxLength: 60
          example: "12345678900"
        identificationType:
          description: Tipo de Documento da Pessoa
          type: string
          enum: [
            CPF,
            CNPJ,
            OUTROS
          ]
          example: CPF
        name:
          description: Nome ou Razão Social da Pessoa
          type: string
          maxLength: 60
          example: Nome Sobrenome
        postCode:
          description: Código Postal da Pessoa
          type: string
          maxLength: 60
          example: "10000000"
        email:
          description: E-mail da Pessoa (caso possua)
          type: string
          maxLength: 256
        city:
          description: Cidade da Pessoa (por extenso)
          type: string
          maxLength: 60
        state:
          description: Estado da Pessoa (por extenso)
          type: string
          maxLength: 60
        country:
          description: País da Pessoa (de acordo com o código "alpha3" do ISO-3166)
          type: string
          maxLength: 3
          pattern: '^(\w{3}){1}$'
          example: BRA 
        address:
          description: Endereço da Pessoa (restante do endereço, excluindo cidade, estado e país)
          type: string
          maxLength: 60
    PersonalQuoteCustomer:
      type: object
      description: Objeto de informações de pessoa física.  
      properties:
        identification:
          $ref: '#/components/schemas/PersonalIdentificationData'
        qualification:
          $ref: '#/components/schemas/PersonalQualificationData'
        complimentaryInfo:
          $ref: '#/components/schemas/PersonalComplimentaryInformationData'
    BusinessQuoteCustomer:
      type: object
      description: Objeto de informações de pessoa jurídica. 
      properties:
        identification:
          $ref: '#/components/schemas/BusinessIdentificationData'
        qualification:
          $ref: '#/components/schemas/BusinessQualificationData'
        complimentaryInfo:
          $ref: '#/components/schemas/BusinessComplimentaryInformationData'
      
    BeneficiaryInfo:
      type: object
      required:
        - identification
        - identificationType
        - name
      properties:
        identification:
          description: Documento de Identificação da Pessoa
          type: string
          maxLength: 60
          example: "12345678900"
        identificationType:
          description: Tipo de Documento da Pessoa
          type: string
          enum: [
            CPF,
            CNPJ,
            OUTROS
          ]
          example: CPF
        name:
          description: Nome ou Razão Social da Pessoa
          type: string
          maxLength: 60
          example: Nome Sobrenome
    Intermediary:
      type: object
      required:
        - name
      properties:
        type:
          description: Tipo do Intermediador
          type: string
          enum: [ 
            CORRETOR,
            REPRESENTANTE,
            ESTIPULANTE_AVERBADOR_INSTITUIDOR,
            CORRESPONDENTE,
            AGENTE_DE_MICROSSEGUROS,
            OUTROS
          ]
          example: REPRESENTANTE
        identification:
          description: Documento de Identificação do Intermediador(a) (Caso Tipo de Intermediador não seja CORRETOR ou quando for CORRETOR, porém o identificador do intermediador não seja informado)
          type: string
          maxLength: 60
          pattern: '^\d{1,60}$'
          example: "12345678900"
        brokerId:
          description: Identificador do intermediador da apólice - código Susep do corretor(a) (Caso Tipo de Intermediador for CORRETOR)
          type: string
          maxLength: 100
        identificationType:
          description: Tipo de Documento do Intermediador(a) (Caso Tipo de Intermediador não seja CORRETOR ou quando for CORRETOR, porém o identificador do intermediador não seja informado)
          type: string
          enum: [
            CPF,
            CNPJ,
            OUTROS
          ]
          example: CPF
        name:
          description: Nome ou Razão Social da Intermediador
          type: string
          maxLength: 60
          example: Nome Sobrenome
        postCode:
          description: Código Postal da Intermediador (Caso Tipo de Intermediador for ESTIPULANTE) 
          type: string
          maxLength: 60
          example: "10000000"
        city:
          description: Cidade da Intermediador (por extenso; Caso Tipo de Intermediador for ESTIPULANTE)
          type: string
          maxLength: 60
        state:
          description: Estado da Intermediador (por extenso; Caso Tipo de Intermediador for ESTIPULANTE)
          type: string
          maxLength: 60
        country:
          description: País da Intermediador (de acordo com o código "alpha3" do ISO-3166; Caso Tipo de Intermediador for ESTIPULANTE)
          type: string
          maxLength: 3
          pattern: '^(\w{3}){1}$'
          example: BRA 
        address:
          description: Endereço da Intermediador (restante do do endereço, excluindo cidade, estado e país; Caso Tipo de Intermediador for ESTIPULANTE)
          type: string
          maxLength: 60
    InsurancePatrimonialInsuredObject:
      type: object
      required:
        - identification
        - type
        - description
        - coverages
      properties:
        identification:
          type: string
          maxLength: 100
          description: "Identificador do objeto segurado. Obs.: Para Fiança Locatícia, é a identificação do Contrato de Locação."
        type:
          type: string
          description: Tipo do objeto segurado
          enum: [CONTRATO,
                PROCESSO_ADMINISTRATIVO,
                PROCESSO_JUDICIAL,
                AUTOMOVEL,
                CONDUTOR,
                FROTA,
                PESSOA,
                OUTROS]
        typeAdditionalInfo:
          type: string
          maxLength: 100
          description: "Descrição do tipo do objeto segurado(caso tipo de objeto segurado for outros)."
        description: 
          type: string
          maxLength: 1024
          description: Descrição do objeto segurado 
        amount:
          $ref: '#/components/schemas/AmountDetails'
        coverages:
          type: array
          description: Lista que agrupa os dados de coberturas.
          items:
            $ref: '#/components/schemas/InsurancePatrimonialInsuredObjectCoverage'
            
    InsurancePatrimonialInsuredObjectCoverage:
      type: object
      required:
        - branch
        - code
        - susepProcessNumber
        - LMI
        - termStartDate
        - termEndDate
        - feature
        - type
      properties:
        branch:
          type: string
          maxLength: 4
          example: '0111'
          description: Grupo e Ramo da Cobertura (Conforme regulamentação Susep vigente)
        code:
          $ref: '#/components/schemas/InsurancePatrimonialCoverageCode'
        description:
          type: string
          maxLength: 500
          description: "Descrição / Nome da Cobertura (Obrigatório quando o campo 'Codigo' for preenchido com 'Outras')"
        internalCode:
          type: string
          maxLength: 500
          description: "Código interno da cobertura da seguradora(obrigatório se houver)"
        susepProcessNumber:
            type: string
            maxLength: 50
        LMI:  
          description: Valor de Limite Máximo de Indenização (LMI) solicitado
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        isLMISublimit:
          type: boolean
          description: Limite máximo de indenização (LMI) é sublimite (Caso aplicável)
        termStartDate: 
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-12-31'
          description: "Data de início de vigência da cobertura"
        termEndDate:  
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-12-31'
          description: "Data de fim de vigência da cobertura"
        isMainCoverage:
          type: boolean
          description: "Cobertura Principal"
        feature:
          type: string
          description: "Característica da cobertura"
          enum: [MASSIFICADOS,
                MASSIFICADOS_MICROSEGUROS,
                GRANDES_RISCOS]
        type:    
          type: string
          description: "Tipo de cobertura"
          enum: [PARAMETRICO,
                INTERMITENTE,
                REGULAR_COMUM,
                CAPITAL_GLOBAL,
                PARAMETRICO_E_INTERMITENTE]    
        gracePeriod:
          type: integer
          maxLength: 5
          description: "Período de carência. OBS: Obrigatório, se houver"       
        gracePeriodicity:
          type: string
          description: "Periodicidade da carência. OBS: Obrigatório, se houver"
          enum: [DIA,
                MES,
                ANO]     
        gracePeriodCountingMethod:   
          type: string
          description: "Indicador de dias úteis ou corridos da carência. OBS: Obrigatório, se houver"
          enum: [DIAS_UTEIS,
                DIAS_CORRIDOS] 
        gracePeriodStartDate:            
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-12-31'
          description: "Data de início da carência. OBS: Obrigatório, se houver"
        gracePeriodEndDate:            
          type: string
          format: date
          maxLength: 10
          example: '2022-12-31'
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          description: "Data de fim da carência. OBS: Obrigatório, se houver"
    InsurancePatrimonialCoverage:
      type: object
      required:
        - branch
        - code
      minProperties: 3
      properties:
        branch:
          description: Grupo e ramo da cobertura
          type: string
          maxLength: 4
          example: '0111'
        code:
          $ref: '#/components/schemas/InsurancePatrimonialCoverageCode'
        description:
          description: Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")
          type: string
          maxLength: 500
        deductible:
          $ref: '#/components/schemas/Deductible'
        POS:
          $ref: '#/components/schemas/POS'
    Deductible:
      type: object
      description: Informações de franquia
      required:
        - type
        - amount
        - period
        - periodicity
        - periodStartDate
        - periodEndDate
        - description
      properties:
        type:
          description: Tipo de Franquia
          type: string
          enum: [
            REDUZIDA,
            NORMAL,
            MAJORADA,
            DEDUTIVEL,
            OUTROS
          ]
          example: DEDUTIVEL
        typeAdditionalInfo:
          description: Descriçao do Tipo de Franquia (Caso Tipo de Franquia for "OUTROS")
          type: string
          maxLength: 500
        amount:
          $ref: '#/components/schemas/AmountDetails'
        period:
          description: Prazo da Franquia
          type: integer
          maxLength: 5
          example: 10
        periodicity:
          description: Periodicidade da Franquia
          type: string
          enum: [
            DIA,
            MES,
            ANO
          ]
          example: DIA
        periodCountingMethod:
          description: Indicador de Dias Úteis ou Corridos (Caso aplicável)
          type: string
          enum: [
            DIAS_UTEIS,
            DIAS_CORRIDOS
          ]
          example: DIAS_UTEIS
        periodStartDate:
          description: Data de Início da Franquia
          type: string
          format: date
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-05-16'
        periodEndDate:
          description: Data de Fim da Franquia
          type: string
          format: date
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-05-17'
        description:
          description: Descrição da Franquia
          type: string
          maxLength: 60
          example: Franquia de exemplo
    POS:
      type: object
      description: Objeto que agrupa os dados de Participação Obrigatória do Segurado.
      required:
        - applicationType
        - description
      properties:
        applicationType:
          description: Forma de Aplicação do POS
          type: string
          enum: [
            VALOR,
            PERCENTUAL,
            OUTROS
          ]
          example: VALOR
        description:
          description: Descrição do POS
          type: string
          maxLength: 60
          example: "Descrição de exemplo"
        minValue:
          $ref: '#/components/schemas/AmountDetails'
        maxValue:
          $ref: '#/components/schemas/AmountDetails'
        percentage:
          description: Percentual do POS
          type: string
          pattern: ^\d{1,3}\.\d{1,9}$
          example: '10.00'
    Coinsurer:
      type: object
      required:
        - identification
        - cededPercentage
      properties:
        identification:
          description: "Identificação da congênere, cessionário do cosseguro. Obs: Obrigatório quando há cosseguro"
          type: string
          maxLength: 60
        cededPercentage:
          description: "Percentual cedido para a congênere para contratos de cosseguro cedido. Obs: Obrigatório quando há cosseguro"
          type: string
          pattern: ^\d{1,3}\.\d{1,9}$
          example: '10.00'
    InsurancePatrimonialPremium:
      type: object
      description: Objeto que agrupa dados de prêmio.
      required:
        - amount
        - paymentsQuantity
        - coverages
        - payments
      properties:
        paymentsQuantity:
          description: Quantidade de parcelas do prêmio do contrato
          type: number
          maxLength: 3
          example: 4
        amount:
          $ref: '#/components/schemas/AmountDetails'
        coverages:
          type: array
          description: Lista que agrupa os dados de coberturas.
          items:
            $ref: '#/components/schemas/InsurancePatrimonialPremiumCoverage'
        payments:
          type: array
          description: Lista que agrupa os dados de pagamentos.
          items:
            $ref: '#/components/schemas/Payment'
    InsurancePatrimonialPremiumCoverage:
      type: object
      required:
        - branch
        - code
        - premiumAmount
      properties:
        branch:
          description: Grupo e ramo da cobertura
          type: string
          maxLength: 4
          example: '0111'
        code:
          $ref: '#/components/schemas/InsurancePatrimonialCoverageCode'
        description:
          description: Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")
          type: string
          maxLength: 500
        premiumAmount:
          description: Valor de Prêmio da Cobertura
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
    Payment:
      type: object
      required:
        - movementDate
        - movementType
        - movementPaymentsNumber
        - amount
        - maturityDate
      properties:
        movementDate:
          description: Data do movimento de prêmio
          type: string
          format: date
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-12-31'
        movementType:
          description: Tipo do Movimento
          type: string
          enum: [LIQUIDACAO_DE_PREMIO,
                LIQUIDACAO_DE_RESTITUICAO_DE_PREMIO,
                ESTORNO_DE_PREMIO,
                ESTORNO_DE_RESTITUICAO_DE_PREMIO,
                EMISSAO_DE_PREMIO,
                CANCELAMENTO_DE_PARCELA,
                EMISSAO_DE_RESTITUICAO_DE_PREMIO,
                REABERTURA_DE_PARCELA,
                BAIXA_POR_PERDA,
                CANCELAMENTO_DE_PREMIO_E_PARCELA]
          example: LIQUIDACAO_DE_PREMIO
        movementOrigin:
          description: "Origem do Movimento. Obs: Obrigatório caso Tipo de Movimento for LIQUIDACAO_DE_PREMIO e ESTORNO_DE_PREMIO"
          type: string
          enum: [EMISSAO_DIRETA,
            EMISSAO_ACEITA_DE_COSSEGURO,
            EMISSAO_CEDIDA_DE_COSSEGURO]
          example: EMISSAO_DIRETA
        movementPaymentsNumber:
          description: Identificador da parcela do movimento
          type: number
          maxLength: 3
        amount:
          $ref: '#/components/schemas/AmountDetails'
        maturityDate:
          description: Data de Vencimento da Parcela
          type: string
          format: date
          example: '2022-12-31'
        tellerId:
          description: "Documento do Pagador/Recebedor Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO"
          type: string
          maxLength: 1024
        tellerIdType:
          description: "Tipo do Documento do Pagador/Recebedor Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO"
          type: string
          enum: [CPF,
                CNPJ,
                OUTROS]
          example: CPF
        tellerName:
          description: "Nome ou Razão Social do Pagador/Recebedor Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO"
          type: string
          maxLength: 100
        financialInstitutionCode:
          description: "Código da Instituição Financeiro do Pagamento Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO"
          type: string
          maxLength: 100
        paymentType:
          description: "Meio de Pagamento Obs: Obrigatório caso Tipo de Movimento for  LIQUIDACAO_DE_PREMIO e LIQUIDACAO_DE_CUSTO_DE_AQUISICAO"
          type: string
          enum: [BOLETO,
                TED,
                TEF,
                CARTAO,
                DOC,
                CHEQUE,
                DESCONTO_EM_FOLHA,  
                PIX,
                DINHEIRO_EM_ESPECIE,
                OUTROS]
          example: BOLETO
    InsurancePatrimonialClaim:
      type: object
      description: Objeto que agrupa dados de sinistro.
      required:
        - identification
        - documentationDeliveryDate
        - status
        - statusAlterationDate
        - occurrenceDate
        - warningDate
        - amount
      properties:
        identification:
          description: Identificador do processo de sinistro
          type: string
          maxLength: 50
        documentationDeliveryDate:
          description: Data de entrega da documentação completa
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-12-31'
        status:
          description: Status do sinistro     
          type: string
          enum: [ABERTO,
                ENCERRADO_COM_INDENIZACAO,
                ENCERRADO_SEM_INDENIZACAO,
                REABERTO,
                CANCELADO_POR_ERRO_OPERACIONAL,
                AVALIACAO_INICIAL]
        statusAlterationDate:
          description: Data de alteração do status do sinistro
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-12-31'
        occurrenceDate:
          description: Data de ocorrência do sinistro
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-12-31'
        warningDate:
          description: Data de aviso do sinistro
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-12-31'
        thirdPartyClaimDate:
          description: Data de reclamação do terceiro
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-12-31'
        amount:
          $ref: '#/components/schemas/AmountDetails'
        denialJustification:
          description: "Justificativa da Negativa(Caso Status do Sinistro for 'ENCERRADO_SEM_INDENIZACAO')"
          type: string
          enum: [RISCO_EXCLUIDO,
            RISCO_AGRAVADO,
            SEM_DOCUMENTACAO,
            DOCUMENTACAO_INCOMPLETA,
            PRESCRICAO,
            FORA_COBERTURA,
            OUTROS]
        denialJustificationDescription:
          description: "Descrição da Justificativa da Negativa(Caso Justificativa da Negativa for 'OUTROS')"
          type: string
          maxLength: 100  
        coverages:
          type: array
          description: Lista que agrupa os dados de coberturas.
          items:
            $ref: '#/components/schemas/InsurancePatrimonialClaimCoverage'   
    InsurancePatrimonialClaimCoverage:
      type: object
      required:
        - branch
        - code
      properties:
        insuredObjectId:
          description: Identificador do Objeto Segurado (Caso aplicável)
          type: string
          maxLength: 100
        branch:
          description: Grupo e ramo da cobertura
          type: string
          maxLength: 4
          example: '0111'
        code:
          $ref: '#/components/schemas/InsurancePatrimonialCoverageCode'
        description:
          description: Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")
          type: string
          maxLength: 500
        warningDate:
          description: Data de Aviso do Sinistro por Cobertura (Caso aplicável)
          type: string
          format: date
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-12-31'
        thirdPartyClaimDate:
          description: Data de Reclamação do Terceiro por Cobertura (Caso aplicável)
          type: string
          format: date
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-12-31'
    InsurancePatrimonialSpecificPolicyInfo:
      type: object
      description: Informações do Anexo Específico
      properties:
        basicCoverageIndex:
          description: Indicador de Cobertura Básica. Caso contrato de Compreensivo Condomínio
          type: string
          enum: [SIMPLES,
            AMPLA]
          example: SIMPLES
        insuredObjects:
          type: array
          description: Lista que agrupa os dados de objetos segurados.
          items:
            $ref: '#/components/schemas/InsurancePatrimonialSpecificInsuredObject'
    InsurancePatrimonialSpecificInsuredObject:
      type: object
      required:
        - identification
      properties:
        identification:
          type: string
          maxLength: 100
          description: Identificador do objeto segurado
        propertyType:
          description:  Tipo do imóvel ou condomínio segurado. Caso contrato de Compreensivo Residencial e Compreensivo Condomínio
          type: string
          enum: [CASA,
            APARTAMENTO,
            CONDOMINIO_RESIDENCIAL,
            CONDOMINIO_COMERCIAL,
            CONDOMINIO_MISTOS]
          example: CASA
        structuringType:
          description: Tipo de estruturação para Compreensivo Condomínio. Caso contrato de Compreensivo Condomínio
          type:  string
          enum: [CONDOMINIO_VERTICAL,
            CONDOMINIO_HORIZONTAL,
            MISTO]
          example: CONDOMINIO_VERTICAL
        postCode:
          description: Código postal do imóvel, condomínio ou unidade empresarial/planta. Caso aplicável
          type: string
          maxLength: 60
          example: "10000000"
        businessActivity:
          description: Código nacional de atividade econômica do IBGE. Caso aplicável
          type: string
          maxLength: 7 
          pattern: '^\d{7}$'
          example: "1234567"
    InsurancePatrimonialCoverageCode:
      type: string
      description: Código da cobertura, conforme Anexo II do Manual de Escopo de Dados
      enum: [
        IMOVEL_BASICA,
        IMOVEL_AMPLA,
        DANOS_ELETRICOS,
        DANOS_POR_AGUA,
        ALAGAMENTO,
        RESPONSABILIDADE_CIVIL_FAMILIAR,
        RESPONSABILIDADE_CIVIL_DANOS_MORAIS,
        ROUBO_SUBTRACAO_BENS,
        ROUBO_SUBTRACAO_BENS_FORA_LOCAL_SEGURADO,
        TACOS_GOLFE_HOLE_ONE,
        PEQUENAS_REFORMAS_OBRAS,
        GREVES_TUMULTOS_LOCKOUT,
        MICROEMPREENDEDOR,
        ESCRITORIO_RESIDENCIA,
        DANOS_EQUIPAMENTOS_ELETRONICOS,
        QUEBRA_VIDROS,
        IMPACTO_VEICULOS,
        VENDAVAL,
        PERDA_PAGAMENTO_ALUGUEL,
        BICICLETA,
        RESPONSABILIDADE_CIVIL_BICICLETA,
        RC_EMPREGADOR,
        DESMORONAMENTO,
        DESPESAS_EXTRAORDINARIAS,
        JOIAS_OBRAS_ARTE,
        TERREMOTO,
        IMPACTO_AERONAVES,
        PAISAGISMO,
        INCENDIO,
        QUEDA_RAIO,
        EXPLOSAO,
        COBERTURA_BASICA_AMPLA_COBERTURAS_PARA_QUAISQUER_EVENTOS_QUE_POSSAM_CAUSAR_DANOS_FISICOS_AO_IMOVEL_SEGURADO_EXCETO_OS_EXPRESSAMENTE_EXCLUIDOS,
        COBERTURA_BASICA_SIMPLES_COBERTURAS_DE_INCENDIO_QUEDA_DE_RAIO_DENTRO_DO_TERRENO_SEGURADO_E_EXPLOSAO_DE_QUALQUER_NATUREZA,
        ANUNCIOS_LUMINOSOS,
        DANOS_AO_JARDIM,
        DESPESAS_COM_ALUGUEL,
        EQUIPAMENTOS,
        FIDELIDADE_DE_EMPREGADOS,
        IMPACTO_DE_VEICULOS,
        VIDA_E_ACIDENTES_PESSOAIS_EMPREGADOS,
        LUCROS_CESSANTES,
        QUEBRA_DE_VIDROS_ESPELHOS_MARMORES_E_GRANITOS,
        RESPONSABILIDADE_CIVIL,
        ROUBO,
        VALORES,
        TUMULTO,
        INCENDIO_QUEDA_DE_RAIO_E_EXPLOSAO,
        VENDAVAL_ATE_FUMACA,
        ALAGAMENTO_E_INUNDACAO,
        TUMULTOS_GREVES_LOCKOUT_E_ATOS_DOLOSOS,
        ROUBO_E_FURTO_QUALIFICADO,
        RECOMPOSICAO_DE_REGISTROS_E_DOCUMENTOS,
        DETERIORACAO_DE_MERCADORIAS_EM_AMBIENTES_FRIGORIFICADOS,
        DERRAME,
        VAZAMENTO,
        QUEBRA_DE_MAQUINAS,
        LUCROS_CESSANTES_DESPESAS_FIXAS_LUCRO_LIQUIDO_LUCRO_BRUTO,
        PERDA_OU_PAGAMENTO_DE_ALUGUEL,
        PEQUENAS_OBRAS_DE_ENGENHARIA,
        DANOS_DE_CAUSA_EXTERNA,
        DANOS_DE_CAUSA_EXTERNA_E_ROUBO,
        SERVICOS_EMERGENCIAIS,
        SERVICOS_DE_CONVENIENCIA,
        GARANTIA_ESTENDIDA_ORIGINAL,
        GARANTIA_ESTENDIDA_AMPLIADA,
        GARANTIA_ESTENDIDA_REDUZIDA,
        COMPLEMENTACAO_DE_GARANTIA,
        LUCRO_BRUTO,
        LUCRO_LIQUIDO,
        DESPESAS_FIXAS,
        PERDA_DE_RECEITA_OU_INTERRUPCAO_DE_NEGOCIOS,
        OBRAS_CIVIS_CONSTRUCAO_E_INSTALACAO_E_MONTAGEM,
        AFRETAMENTOS_DE_AERONAVES,
        ARMAZENAGEM_FORA_DO_CANTEIRO_DE_OBRAS_OU_LOCAL_SEGURADO,
        DANOS_EM_CONSEQUENCIA_DE_ERRO_DE_PROJETO_RISCO_DO_FABRICANTE,
        DANOS_MORAIS,
        DESPESAS_COM_DESENTULHO_DO_LOCAL,
        DESPESAS_DE_SALVAMENTO_E_CONTENCAO_DE_SINISTROS,
        EQUIPAMENTOS_DE_ESCRITORIO_E_INFORMATICA,
        EQUIPAMENTOS_MOVEIS_ESTACIONARIOS_UTILIZADOS_NA_OBRA,
        FERRAMENTAS_DE_PEQUENO_E_MEDIO_PORTE,
        HONORARIOS_DE_PERITO,
        INCENDIO_APOS_O_TERMINO_DE_OBRAS_ATE_30_DIAS_EXCETO_PARA_REFORMAS_AMPLIACOES,
        MANUTENCAO_AMPLA_ATE_24_MESES,
        MANUTENCAO_SIMPLES_ATE_24_MESES,
        OBRAS_CONCLUIDAS,
        OBRAS_TEMPORARIAS,
        OBRAS_INSTALACOES_CONTRATADAS_ACEITAS_E_OU_COLOCADAS_EM_OPERACAO,
        PROPRIEDADES_CIRCUNVIZINHAS,
        RECOMPOSICAO_DE_DOCUMENTOS,
        RESPONSABILIDADE_CIVIL_EMPREGADOR,
        FUNDACAO,
        STANDS_DE_VENDA,
        TRANSPORTE_TERRESTRE,
        TUMULTOS_GREVES_E_LOCKOUT,
        DANOS_MATERIAIS_CAUSADOS_AO_COFRE_FORTE,
        DANOS_MATERIAIS_CAUSADOS_AOS_CAIXAS_ELETRONICOS_ATM,
        INFIDELIDADE_DE_FUNCIONARIOS,
        VALORES_NO_INTERIOR_DO_ESTABELECIMENTO_DENTRO_E_OU_FORA_DE_COFRE_FORTE,
        VALORES_NO_INTERIOR_DE_CAIXAS_ELETRONICOS_ATM,
        VALORES_EM_MAOS_DE_PORTADORES_EM_TRANSITO,
        ALAGAMENTO_INUNDACAO,
        ALUGUEL_PERDA_OU_PAGAMENTO,
        BAGAGEM,
        BASICA_INCENDIO_RAIO_EXPLOSAO,
        BASICA_DANOS_MATERIAIS,
        BASICA_DE_OBRAS_CIVIS_EM_CONSTRUCAO_E_INSTALACOES_E_MONTAGENS,
        BENS_DE_TERCEIROS_EM_PODER_DO_SEGURADO,
        CARGA_DESCARGA_ICAMENTO_E_DESCIDA,
        DANOS_NA_FABRICACAO,
        DERRAME_D_AGUA_OU_OUTRA_SUBSTANCIA_LIQUIDA_DE_INSTALACOES_DE_CHUVEIROS_AUTOMATICOS,
        DESPESAS_ADICIONAIS_OUTRAS_DESPESAS,
        DESPESAS_FIXA,
        DETERIORACAO_DE_MERCADORIAS_EM_AMBIENTES,
        FRIGORIFICADOS,
        EQUIPAMENTOS_ARRENDADOS,
        EQUIPAMENTOS_CEDIDOS_A_TERCEIROS,
        EQUIPAMENTOS_CINEMATOGRAFICOS_FOTOGRAFICOS_DE_AUDIO_E_VIDEO,
        EQUIPAMENTOS_DIVERSOS_OUTRAS_MODALIDADES,
        EQUIPAMENTOS_ELETRONICOS,
        EQUIPAMENTOS_ESTACIONARIOS,
        EQUIPAMENTOS_MOVEIS,
        EQUIPAMENTOS_PORTATEIS,
        HONORARIOS_DE_PERITOS,
        IMPACTO_DE_VEICULOS_E_QUEDA_DE_AERONAVES,
        IMPACTO_DE_VEICULOS_TERRESTRES,
        LINHAS_DE_TRANSMISSAO_E_DISTRIBUICAO,
        MOVIMENTACAO_INTERNA_DE_MERCADORIAS,
        PATIOS,
        ROUBO_DE_BENS_DE_HOSPEDES,
        ROUBO_DE_VALORES_EM_TRANSITO_EM_MAOS_DE_PORTADOR,
        ROUBO_E_FURTO_MEDIANTE_ARROMBAMENTO,
        ROUBO_E_OU_FURTO_QUALIFICADO_DE_VALORES_NO_INTERIOR_DO_ESTABELECIMENTO_DENTRO_E_OU_FORA_DE_COFRES_FORTES_OU_CAIXAS_FORTES,
        TERRORISMO_E_SABOTAGEM,
        VAZAMENTO_DE_TUBULACOES_E_TANQUES,
        VAZAMENTO_DE_TUBULACOES_HIDRAULICAS,
        VENDAVAL_FURACAO_CICLONE_TORNADO_GRANIZO_QUEDA_DE_AERONAVES_OU_QUAISQUER_OUTROS_ENGENHOS_AEREOS_OU_ESPACIAIS_IMPACTO_DE_VEICULOS_TERRESTRES_E_FUMACA,
        OUTRAS
      ]
    QuoteResultAssistance:
      type: object
      required:
        - type
        - service
        - description
        - assistancePremiumAmount
      properties:
        type:
          description: Tipo de prestação de serviços
          type: string
          enum: [
            ASSISTENCIA_AUTO,   
            ASSISTENCIA_RE,     
            ASSISTENCIA_VIDA,   
            BENEFICIOS,
            DESPACHANTE,        
            LOCACAO_DE_VEICULOS,
            REPAROS_AUTOMOTIVOS,
            REPAROS_EMERGENCIAIS,
            SERVICO_DE_MANUTENCAO,
            SERVICO_EM_CASO_DE_SINISTRO,
            TRANSPORTE_DO_EMERGENCIAL,
            OUTROS
          ]
        service:
          description: Nome do serviço prestado
          type: string
          enum: [
            ACIONAMENTO_E_OU_AGENDAMENTO_DE_LEVA_E_TRAZ,
            AMPARO_DE_CRIANCAS,
            APLICACAO_DE_VACINAS_EM_DOMICILIO,
            AQUECEDORES,
            ASSISTENCIA_A_ELETRODOMESTICOS,
            ASSISTENCIA_AUTO_E_OU_MOTO,
            ASSISTENCIA_BIKE,
            ASSISTENCIA_EM_VIAGEM,
            ASSISTENCIA_ESCOLAR,
            ASSISTENCIA_FUNERAL,
            ASSISTENCIA_FUNERAL_PET,
            ASSISTENCIA_INFORMATICA,
            ASSISTENCIA_NUTRICIONAL,
            ASSISTENCIA_PET,
            ASSISTENCIA_RESIDENCIAL,
            ASSISTENCIA_SUSTENTAVEL,
            ASSISTENCIA_VETERINARIA_EMERGENCIAL,
            ASSISTENCIAS_SAUDE_E_BEM_ESTAR,
            BABY_SITTER,
            CACAMBA,
            CARRO_RESERVA,
            CESTA_BASICA,
            CESTA_DE_ALIMENTOS,
            CESTA_NATALIDADE,
            CHAVEIRO,
            CHECK_UP,
            COBERTURA_PROVISORIA_DE_TELHADO,
            CONCIERGE,
            CONSERTO_DE_AR_CONDICIONADO,
            CONSERTO_DE_ELETRODOMESTICOS_LINHA_BRANCA,
            CONSERTO_DE_ELETROELETRONICO_LINHA_MARROM,
            CONSERTO_DE_PORTA_ONDULADA,
            CONSULTAS_VETERINARIAS,
            CONSULTORIA_ORCAMENTARIA,
            CONVENIENCIA_EM_VIAGEM,
            DEDETIZACAO,
            DESATOLAMENTO,
            DESCARTE_RESPONSAVEL,
            DESCONTOS_EM_CONSULTAS_E_EXAMES,
            DESCONTOS_EM_MEDICAMENTOS,
            DESENTUPIMENTO,
            DESINSETIZACAO_E_DESRATIZACAO,
            DESPACHANTE,
            DESPESAS_FARMACEUTICAS,
            DESPESAS_MEDICAS_CIRURGICAS_E_DE_HOSPITALIZACAO,
            DESPESAS_ODONTOLOGICAS,
            ELETRICISTA,
            EMERGENCIAS,
            ENCANADOR,
            ENVIO_DE_ACOMPANHANTE_EM_CASO_DE_ACIDENTE,
            ENVIO_DE_FAMILIAR_PARA_ACOMPANHAMENTO_DE_MENORES_DE_CATORZE_ANOS,
            ENVIO_DE_RACAO,
            ESCRITORIO_VIRTUAL,
            GUARDA_DE_ANIMAIS,
            GUARDA_DO_VEICULO,
            GUINCHO,
            HELP_DESK,
            HIDRAULICA,
            HOSPEDAGEM,
            HOSPEDAGEM_DE_ANIMAIS,
            INDICACAO_DE_BANHO_E_TOSA,
            INDICACAO_DE_PROFISSIONAIS,
            INFORMACAO_SOBRE_RACAS_DE_CAES,
            INFORMACAO_SOBRE_VENDA_DE_FILHOTES,
            INFORMACOES_SOBRE_VACINAS,
            INFORMACOES_VETERINARIAS_UTEIS,
            INSTALACAO_RESIDENCIA,
            INSTALACAO_DE_CHUVEIRO_ELETRICO_E_OU_TROCA_DE_RESISTENCIA,
            INSTALACAO_DE_SUPORTE_TV_ATE_SETENTA,
            LIMPEZA,
            LIMPEZA_DE_AR_CONDICIONADO,
            LIMPEZA_DE_CAIXA_D_AGUA,
            LIMPEZA_DE_CALHAS,
            LIMPEZA_DE_RALOS_E_SIFOES,
            LOCACAO_DE_ELETRODOMESTICOS,
            LOCACAO_DE_VEICULOS,
            LOCALIZACAO_DE_BAGAGEM,
            MANUTENCAO,
            MARTELINHO_E_REPARO_RAPIDO,
            MECANICO,
            MEIO_DE_TRANSPORTE,
            MONITORACAO_MEDICA,
            MOTO,
            MOTORISTA_AMIGO,
            MOTORISTA_SUBSTITUTO,
            MTA_MEIO_DE_TRANSPORTE_ALTERNATIVO,
            MUDANCA_E_GUARDA_DE_MOVEIS,
            ORGANIZACAO,
            ORIENTACAO_EM_CASO_DE_PERDA_DE_DOCUMENTOS,
            ORIENTACAO_MEDICA,
            ORIENTACAO_PSICOLOGICA,
            PERSONAL_FITNESS,
            REBOQUE,
            REBOQUE_BIKE,
            RECUPERACAO_DO_VEICULO,
            REGRESSO_ANTECIPADO_EM_CASO_DE_FALECIMENTO_DE_PARENTES,
            REGRESSO_DO_USUARIO_APOS_ALTA_HOSPITALAR,
            REINSTALACAO_E_REPARO_DO_VENTILADOR_DE_TETO,
            REMANEJAMENTO_DE_MOVEIS,
            REMOCAO_HOSPITALAR,
            REMOCAO_MEDICA,
            REMOCAO_MEDICA_INTER_HOSPITALAR,
            REPARACAO_AUTOMOTIVA,
            REPARO_DE_TELEFONIA,
            REPARO_EM_PORTOES_AUTOMATICOS,
            REPARO_FIXACAO_DE_ANTENAS,
            REPAROS_ELETRICOS,
            RETORNO_ANTECIPADO_AO_DOMICILIO,
            REVERSAO_DE_FOGAO,
            REVISAO_DE_INSTALACAO_ELETRICA,
            SEGUNDA_OPINIAO_MEDICA_INTERNACIONAL,
            SEGURANCA,
            SERRALHEIRO,
            SERVICO_DE_INDICACAO_MEDICA,
            SERVICO_DE_LIMPEZA,
            SERVICOS_AUTO,
            SERVICOS_ESPECIAIS_FIXACAO_DE_OBJETOS,
            SERVICOS_GERAIS,
            SUBSTITUICAO_DE_PNEUS,
            SUBSTITUICAO_DE_TELHAS,
            TAXI,
            TELEMEDICINA,
            TRANSMISSAO_DE_MENSAGENS_URGENTES,
            TRANSPORTE_E_ENVIO_DE_FAMILIAR,
            TRANSPORTE_E_GUARDA_MOVEIS,
            TRANSPORTE_ESCOLAR_PESSOAS,
            TRANSPORTE_VETERINARIO_EMERGENCIAL,
            TRASLADO_DE_CORPO,
            TROCA_DE_BATERIA,
            TROCA_DE_PNEUS,
            VERIFICACAO_DE_POSSIVEIS_VAZAMENTOS,
            VIDROS_E_ACESSORIOS,
            VIGILANCIA_E_SEGURANCA,
            OUTROS
          ]
        description:
          description: Descrição do serviço prestado
          type: string
          maxLength: 5000
        assistancePremiumAmount:
          description: Valor de Prêmio da Assistência
          allOf:
            - $ref: '#/components/schemas/AmountDetails'  
    QuoteResultPremium:
      type: object
      description: Objeto que agrupa dados de prêmio.
      required:
        - totalPremiumAmount
        - totalNetAmount
        - IOF
        - paymentsQuantity
        - coverages
        - payments
      properties:
        paymentsQuantity:
          description: Quantidade de parcelas do prêmio do contrato
          type: number
          maxLength: 3
          example: 4
        totalPremiumAmount:
          description: Valor total do prêmio do contrato
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        totalNetAmount:
          description: Valor de prêmio líquido total
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        IOF:
          description: Valor do IOF
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        interestRateOverPayments:
          description: Taxa de juros sobre o parcelamento do prêmio
          type: number
          pattern: ^\d{1,3}\.\d{1,9}$
          example: 10.00
        coverages:
          type: array
          description: Lista que agrupa os dados de coberturas.
          items:
            $ref: '#/components/schemas/QuoteResultPremiumCoverage'
        payments:
          type: array
          description: Lista que agrupa os dados de pagamentos.
          items:
            $ref: '#/components/schemas/QuoteResultPayment'
    ClaimNotification:
      type: object
      description: Valores de sinistros (nos últimos 12 meses)
      required:
        - claimAmount
        - claimDescription
      properties:
        claimAmount:   
          description: "Valor do sinistro De acordo com ISO-4217."
          allOf:
            - $ref: '#/components/schemas/AmountDetails'  
        claimDescription:
          description: Descrição do sinistro
          type: string
          maxLength: 100
      additionalProperties: false 

    PolicyDataPatrimonialCondominium:
      $ref: '#/components/schemas/PolicyDataPatrimonial'

    QuoteDataPatrimonialCondominium:
      type: object
      description: Objeto que agrupa dados específicos do ramo de cotação.
      properties:
        mainActivity:
          description: "Principal atividade do local de risco"
          type: string
          enum: [COMERCIO,    
                INDUSTRIA,
                SERVICO]
        isLegallyConstituted:  
          description: O condomínio está legalmente constituído?
          type: boolean
        condominiumType:
          description: "Trata-se de condomínio do tipo:
            1. Condomínio Polo Industrial
            2. Condomínio Logístico / Galpão
            3. Condomínio Armazém/Depósito
            4. Condomínio Garagem de veículos
            5. Condomínio Shopping center"
          type: boolean  
        termStartDate: 
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-10-02'
          description: "Data de vigência dentro de 24 horas"
        termEndDate:  
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-10-02'
          description: "Data de fim de vigência até as 24 horas"
        insuranceTermStartDate:  
          type: string
          format: date
          maxLength: 10
          pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
          example: '2022-10-02'
          description: "Não permite retroagir vigência permite - vigência posterior"
        insuranceType: 
          type: string
          description: Tipo de Seguro
          enum: [NOVO,    
                RENOVACAO]
        policyId:
          description: Número para identificar a apólice atual
          type: string
          maxLength: 100
          example: "111111"
        insurerId:  
          description: Nome para identifcar a congênere de renovação
          type: string
          maxLength: 100
        currency:
          description: Moeda de emissão do contrato de acordo com ISO-4217.
          type: string
          pattern: '^(\w{3}){1}$'
          example: BRL
        basicCoverageIndex: 
          description: "Indicador de Modalidade de Cobertura Básica (Caso contrato de Compreensivo Condomínio)"
          type: string
          enum: [SIMPLES,
                AMPLA]        
        maxLMG:
          description: Valor Limite máximo de garantia (LMG)
          allOf:
            - $ref: '#/components/schemas/AmountDetails'  
        includesAssistanceServices:
          description: Deseja contratação de serviços de assistência?
          type: boolean
        claimAmount:   
          description: "Valor do sinistro De acordo com ISO-4217."
          allOf:
            - $ref: '#/components/schemas/AmountDetails'  
        claimDescription:
          description: Descrição do sinistro
          type: string
          maxLength: 100
        insuredObject:
          $ref: '#/components/schemas/QuotePatrimonialCondominiumInsuredObject'     
        coverages:
          type: array
          description: Lista que agrupa os dados de coberturas.
          items:
            $ref: '#/components/schemas/QuotePatrimonialCondominiumCoverage' 

    QuotePatrimonialCondominiumInsuredObject:
      type: object
      description: Objeto que agrupa os dados de objeto segurado.
      properties:
        identification:
          type: string
          maxLength: 100
          description: "Identificador do objeto segurado. Obs.: Para Fiança Locatícia, é a identificação do Contrato de Locação."
        structuringType:
          description: "Indica o tipo de estruturação"
          type: string
          enum: [
            CONDOMINIO_VERTICAL,  
            CONDOMINIO_HORIZONTAL,
            MISTO]
        propertyType:
          description: Tipo docondomínio segurado
          type: string
          enum: [
            CONDOMINIO_RESIDENCIAL_COM_COMERCIO_NO_TERREO,
            CONDOMINIO_DE_ESCRITORIOS_CONSULTORIOS,
            CONDOMINIO_RESIDENCIAL_COM_ESCRITORIO_E_COMERCIO,
            CONDOMINIO_DE_ESCRITORIOS_CONSULTORIOS_COM_COMERCIO_NO_TERREO,
            CONDOMINIO_FLAT_APART_HOTEL,
            CONDOMINIO_FLAT_APART_HOTEL_COM_COMERCIO,
            CONDOMINIO_EXCLUSIVAMENTE_COMERCIAL,
            CONDOMINIO_EXCLUSIVAMENTE_RESIDENCIAL
          ]
        hasElevator:
          description: O Condomínio Possui Elevador?
          type: boolean
        isFullyOrPartiallyListed: 
          description: O Condomínio é total ou parcialmente tombado pelo patrimônio histórico?
          type: boolean
        numberOfBlocks:
          description: Qual a quantidade de blocos?
          type: string
          maxLength: 100
          example: "3"
        condominiumAge:
          description: Qual a idade, em anos, do Condomínio?
          type: string
          maxLength: 100
          example: "20"
        hasReuseOfWater: 
          description: Participa de algum programa de reuso ou reaproveitamento de água?   
          type: boolean
        securityProtection:  
          description: Quais itens de segurança dispõe o condomínio?
          type: array
          items:
            type: string
            enum: [
              CAMERA_CFTV,
              PORTARIA_VINTE_E_QUATRO_HORAS,
              ALARME_DISPOSITIVO_ANTI_FURTO,
              VIGILANCIA_TERCEIRIZADA,
              CONDOMINIO_FECHADO,
              CERCA_ELETRICA,
              GRADES_EM_JANELAS_E_PORTAS,
              PORTEIRO_ELETRONICO,
              CATRACA_ELETRONICA_DE_ACESSO,
              NAO_POSSUI]
        riskLocationInfo:
          $ref: '#/components/schemas/QuotePatrimonialCondominiumRiskLocation'
        indenizationWithoutDepreciation:
          description: "Contratar seguro com a indenização sem aplicação de depreciação dos bens segurados (valor de novo)"
          type: boolean
        wasThereAClaim:  
          description: Houve sinistro no local nos últimos 12 meses? 
          type: boolean
        claimNotifications:
          description: Lista de sinistros e valores
          type: array
          items:
            $ref: '#/components/schemas/ClaimNotification'

    QuotePatrimonialCondominiumCoverage:
      type: object
      description: Objeto que agrupa os dados de objeto segurado.
      required:
        - branch
        - code
        - isSeparateContractingAllowed
        - maxLMI
      properties:
        branch:
          description: Grupo e ramo da cobertura
          type: string
          maxLength: 4
          example: "0111"
        code:
            type: string
            description: Código da cobertura, conforme Anexo II do Manuel de Escopo de Dados
            enum: [
              RESIDENCIAL_IMOVEL_BASICA,
              RESIDENCIAL_IMOVEL_AMPLA,
              RESIDENCIAL_INCENDIO,
              RESIDENCIAL_QUEDA_DE_RAIO,
              RESIDENCIAL_EXPLOSAO,
              RESIDENCIAL_IMPACTO_DE_AERONAVES,
              RESIDENCIAL_ALAGAMENTO,
              RESIDENCIAL_DANOS_ELETRICOS,
              RESIDENCIAL_DANOS_POR_AGUA,
              RESIDENCIAL_RESPONSABILIDADE_CIVIL_FAMILIAR,
              RESIDENCIAL_VENDAVAL,
              RESIDENCIAL_DANOS_A_EQUIPAMENTOS_ELETRONICOS,
              RESIDENCIAL_TERREMOTO,
              RESIDENCIAL_PERDA_E_PAGAMENTO_DE_ALUGUEL,
              RESIDENCIAL_ROUBO_E_SUBTRACAO_DE_BENS,
              RESIDENCIAL_QUEBRA_DE_VIDROS,
              RESIDENCIAL_IMPACTO_DE_VEICULOS,
              RESIDENCIAL_DESMORONAMENTO,
              RESIDENCIAL_TUMULTOS_GREVES_E_LOCKOUTS,
              RESIDENCIAL_DESPESAS_EXTRAORDINARIAS,
              RESIDENCIAL_JOIAS_E_OBRAS_DE_ARTE,
              CONDOMINIAL_COBERTURA_BASICA_SIMPLES,
              CONDOMINIAL_COBERTURA_BASICA_AMPLA,
              CONDOMINIAL_ANUNCIOS_LUMINOSOS,
              CONDOMINIAL_DANOS_AO_JARDIM,
              CONDOMINIAL_DANOS_ELETRICOS,
              CONDOMINIAL_DESMORONAMENTO,
              CONDOMINIAL_DESPESAS_COM_ALUGUEL,
              CONDOMINIAL_EQUIPAMENTOS,
              CONDOMINIAL_FIDELIDADE_DE_EMPREGADOS,
              CONDOMINIAL_IMPACTO_DE_VEICULOS,
              CONDOMINIAL_VIDA_E_ACIDENTES_PESSOAIS_EMPREGADOS,
              CONDOMINIAL_LUCROS_CESSANTES,
              CONDOMINIAL_QUEBRA_DE_VIDROS_ESPELHOS_MARMORES_E_GRANITOS,
              CONDOMINIAL_RESPONSABILIDADE_CIVIL,
              CONDOMINIAL_ROUBO,
              CONDOMINIAL_VALORES,
              CONDOMINIAL_VAZAMENTO,
              CONDOMINIAL_VENDAVAL,
              CONDOMINIAL_ALAGAMENTO,
              CONDOMINIAL_TUMULTO,
              EMPRESARIAL_INCENDIO_QUEDA_DE_RAIO_E_EXPLOSAO,
              EMPRESARIAL_DANOS_ELETRICOS,
              EMPRESARIAL_VENDAVAL_ATE_FUMACA,
              EMPRESARIAL_DESMORONAMENTO,
              EMPRESARIAL_ALAGAMENTO_E_INUNDACAO,
              EMPRESARIAL_TUMULTOS_GREVES_LOCKOUT_E_ATOS_DOLOSOS,
              EMPRESARIAL_ROUBO_E_FURTO_QUALIFICADO,
              EMPRESARIAL_VALORES,
              EMPRESARIAL_QUEBRA_DE_VIDROS_ESPELHOS_MARMORES_E_GRANITOS,
              EMPRESARIAL_ANUNCIOS_LUMINOSOS,
              EMPRESARIAL_FIDELIDADE_DE_EMPREGADOS,
              EMPRESARIAL_RECOMPOSICAO_DE_REGISTROS_E_DOCUMENTOS,
              EMPRESARIAL_DETERIORACAO_DE_MERCADORIAS_EM_AMBIENTES_FRIGORIFICADOS,
              EMPRESARIAL_DERRAME,
              EMPRESARIAL_VAZAMENTO,
              EMPRESARIAL_EQUIPAMENTOS,
              EMPRESARIAL_QUEBRA_DE_MAQUINAS,
              EMPRESARIAL_RESPONSABILIDADE_CIVIL,
              EMPRESARIAL_DESPESAS_EXTRAORDINARIAS,
              EMPRESARIAL_LUCROS_CESSANTES_DESPESAS_FIXAS_LUCRO_LIQUIDO_LUCRO_BRUTO,
              EMPRESARIAL_PERDA_OU_PAGAMENTO_DE_ALUGUEL,
              EMPRESARIAL_PEQUENAS_OBRAS_DE_ENGENHARIA,
              DIVERSOS_DANOS_DE_CAUSA_EXTERNA,
              DIVERSOS_DANOS_DE_CAUSA_EXTERNA_E_ROUBO,
              DIVERSOS_ROUBO,
              SERVICOS_EMERGENCIAIS,
              SERVICOS_DE_CONVENIENCIA,
              GARANTIA_ESTENDIDA_ORIGINAL,
              GARANTIA_ESTENDIDA_AMPLIADA,
              GARANTIA_ESTENDIDA_REDUZIDA,
              COMPLEMENTACAO_DE_GARANTIA,
              CESSANTES_LUCRO_BRUTO_LUCRO_LIQUIDO_E_DESPESAS_FIXAS,
              CESSANTES_LUCRO_LIQUIDO,
              CESSANTES_DESPESAS_FIXAS,
              CESSANTES_PERDA_DE_RECEITA_OU_INTERRUPCAO_DE_NEGOCIOS,
              ENGENHARIA_OBRAS_CIVIS_CONSTRUCAO_E_INSTALACAO_E_MONTAGEM,
              ENGENHARIA_AFRETAMENTOS_DE_AERONAVES,
              ENGENHARIA_ARMAZENAGEM_FORA_DO_CANTEIRO_DE_OBRAS_OU_LOCAL_SEGURADO,
              ENGENHARIA_DANOS_EM_CONSEQUENCIA_DE_ERRO_DE_PROJETO_RISCO_DO_FABRICANTE,
              ENGENHARIA_DANOS_MORAIS,
              ENGENHARIA_DESPESAS_COM_DESENTULHO_DO_LOCAL,
              ENGENHARIA_DESPESAS_DE_SALVAMENTO_E_CONTENCAO_DE_SINISTROS,
              ENGENHARIA_DESPESAS_EXTRAORDINARIAS,
              ENGENHARIA_EQUIPAMENTOS_DE_ESCRITORIO_E_INFORMATICA,
              ENGENHARIA_EQUIPAMENTOS_MOVEIS_OU_ESTACIONARIOS_UTILIZADOS_NA_OBRA,
              ENGENHARIA_FERRAMENTAS_DE_PEQUENO_E_MEDIO_PORTE,
              ENGENHARIA_HONORARIOS_DE_PERITO,
              ENGENHARIA_INCENDIO_APOS_O_TERMINO_DE_OBRAS_ATE_TRINTA_DIAS_EXCETO_PARA_REFORMAS_OU_AMPLIACOES,
              ENGENHARIA_LUCROS_CESSANTES,
              ENGENHARIA_MANUTENCAO_AMPLA_ATE_VINTE_E_QUATRO_MESES,
              ENGENHARIA_MANUTENCAO_SIMPLES_ATE_VINTE_E_QUATRO_MESES,
              ENGENHARIA_OBRAS_CONCLUIDAS,
              ENGENHARIA_OBRAS_TEMPORARIAS,
              ENGENHARIA_OBRAS_INSTALACOES_CONTRATADAS_ACEITAS_E_OU_COLOCADAS_EM_OPERACAO,
              ENGENHARIA_PROPRIEDADES_CIRCUNVIZINHAS,
              ENGENHARIA_RECOMPOSICAO_DE_DOCUMENTOS,
              ENGENHARIA_RESPONSABILIDADE_CIVIL_EMPREGADOR,
              ENGENHARIA_FUNDACAO,
              ENGENHARIA_STANDS_DE_VENDA,
              ENGENHARIA_TRANSPORTE_TERRESTRE,
              ENGENHARIA_TUMULTOS_GREVES_E_LOCKOUT,
              BANCOS_DANOS_MATERIAIS_CAUSADOS_AO_COFRE_FORTE,
              BANCOS_DANOS_MATERIAIS_CAUSADOS_AOS_CAIXAS_ELETRONICOS_ATM,
              BANCOS_INFIDELIDADE_DE_FUNCIONARIOS,
              BANCOS_VALORES_NO_INTERIOR_DO_ESTABELECIMENTO_DENTRO_E_OU_FORA_DE_COFRE_FORTE,
              BANCOS_VALORES_NO_INTERIOR_DE_CAIXAS_ELETRONICOS_ATM,
              BANCOS_VALORES_EM_MAOS_DE_PORTADORES_EM_TRANSITO,
              RNO_ALAGAMENTO_INUNDACAO,
              RNO_ALUGUEL_PERDA_OU_PAGAMENTO,
              RNO_ANUNCIOS_LUMINOSOS,
              RNO_BAGAGEM,
              RNO_BASICA_INCENDIO_RAIO_EXPLOSAO,
              RNO_BASICA_DANOS_MATERIAIS,
              RNO_BASICA_DE_OBRAS_CIVIS_EM_CONSTRUCAO_E_INSTALACOES_E_MONTAGENS,
              RNO_BENS_DE_TERCEIROS_EM_PODER_DO_SEGURADO,
              RNO_CARGA_DESCARGA_ICAMENTO_E_DESCIDA,
              RNO_DANOS_ELETRICOS,
              RNO_DANOS_NA_FABRICACAO,
              RNO_DERRAME_D_AGUA_OU_OUTRA_SUBSTANCIA_LIQUIDA_DE_INSTALACOES_DE_CHUVEIROS_AUTOMATICOS_SPRINKLERS,
              RNO_DESMORONAMENTO,
              RNO_DESPESAS_ADICIONAIS_OUTRAS_DESPESAS,
              RNO_DESPESAS_EXTRAORDINARIAS,
              RNO_DESPESAS_FIXA,
              RNO_DETERIORACAO_DE_MERCADORIAS_EM_AMBIENTES_FRIGORIFICADOS,
              RNO_EQUIPAMENTOS_ARRENDADOS,
              RNO_EQUIPAMENTOS_CEDIDOS_A_TERCEIROS,
              RNO_EQUIPAMENTOS_CINEMATOGRAFICOS_FOTOGRAFICOS_DE_AUDIO_E_VIDEO,
              RNO_EQUIPAMENTOS_DIVERSOS_OUTRAS_MODALIDADES,
              RNO_EQUIPAMENTOS_ELETRONICOS,
              RNO_EQUIPAMENTOS_ESTACIONARIOS,
              RNO_EQUIPAMENTOS_MOVEIS,
              RNO_EQUIPAMENTOS_PORTATEIS,
              RNO_FIDELIDADE_DE_EMPREGADOS,
              RNO_HONORARIOS_DE_PERITOS,
              RNO_IMPACTO_DE_VEICULOS_E_QUEDA_DE_AERONAVES,
              RNO_IMPACTO_DE_VEICULOS_TERRESTRES,
              RNO_LINHAS_DE_TRANSMISSAO_E_DISTRIBUICAO,
              RNO_LUCROS_CESSANTES,
              RNO_MOVIMENTACAO_INTERNA_DE_MERCADORIAS,
              RNO_PATIOS,
              RNO_QUEBRA_DE_MAQUINAS,
              RNO_QUEBRA_DE_VIDROS_ESPELHOS_MARMORES_E_GRANITOS,
              RNO_RECOMPOSICAO_DE_REGISTROS_E_DOCUMENTOS,
              RNO_ROUBO_DE_BENS_DE_HOSPEDES,
              RNO_ROUBO_DE_VALORES_EM_TRANSITO_EM_MAOS_DE_PORTADOR,
              RNO_ROUBO_E_FURTO_MEDIANTE_ARROMBAMENTO,
              RNO_ROUBO_E_OU_FURTO_QUALIFICADO_DE_VALORES_NO_INTERIOR_DO_ESTABELECIMENTO_DENTRO_E_OU_FORA_DE_COFRES_FORTES_OU_CAIXAS_FORTES,
              RNO_TERRORISMO_E_SABOTAGEM,
              RNO_TUMULTOS_GREVES_LOCKOUT_E_ATOS_DOLOSOS,
              RNO_VAZAMENTO_DE_TUBULACOES_E_TANQUES,
              RNO_VAZAMENTO_DE_TUBULACOES_HIDRAULICAS,
              RNO_VENDAVAL_FURACAO_CICLONE_TORNADO_GRANIZO_QUEDA_DE_AERONAVES_OU_QUAISQUER_OUTROS_ENGENHOS_AEREOS_OU_ESPACIAIS_IMPACTO_DE_VEICULOS_TERRESTRES_E_FUMACA,
              OUTRAS
            ]
        description:
          description: Descrição / Nome da Cobertura (Caso Código da Cobertura for "OUTRAS")
          type: string
          maxLength: 500
        isSeparateContractingAllowed:
          description: Permissão para Contratação Separada
          type: boolean
        maxLMI:
          description: Valor de Limite Máximo de Indenização (LMI) solicitado
          allOf:
            - $ref: '#/components/schemas/AmountDetails'
        internalCode:
          description: "Código interno da cobertura da seguradora"
          type: string
          maxLength: 500

    QuotePatrimonialCondominiumRiskLocation:
      type: object
      description: Objeto que agrupa dados de local de risco.
      properties:
        address:
          type: string
          maxLength: 100
          description: Logradouro do Local de Risco
          example: "Avenida Paulista, 2000"
        additionalInfo:
          type: string
          maxLength: 100
          description: Complemento *
          example: "Apartamento 1304"
        districtName:
          type: string
          maxLength: 100
          description: Bairro *
          example: "Cerqueira César"
        townName:
          type: string
          maxLength: 100
          description: Município
          example: "São Paulo"
        countrySubDivision:
          type: string
          description: Sigla da Unidade da Federação
          enum: [AC,
                AL,
                AP,
                AM,
                BA,
                CE,
                DF,
                ES,
                GO,
                MA,
                MT,
                MS,
                MG,
                PA,
                PB,
                PR,
                PE,
                PI,
                RJ,
                RN,
                RS,
                RO,
                RR,
                SC,
                SP,
                SE,
                TO]
        postCode:
          type: string
          maxLength: 8
          description: CEP
          example: "1310200"

    QuoteStatusPatrimonialCondominium:
      type: object
      required:
        - quoteCustomer
        - quoteData
        - quotes
      properties:
        quoteCustomer:
          description: Objeto que agrupa as categorias de dados cadastrais do cliente.
          oneOf:
            - $ref: '#/components/schemas/PersonalQuoteCustomer'
            - $ref: '#/components/schemas/BusinessQuoteCustomer'
        quoteData:
          $ref: '#/components/schemas/ResultQuotePatrimonialCondominium'
        quotes:
          type: array
          description: Lista de cotações enviadas pela seguradora.
          items:
            required:
              - premiumInfo
              - coverages
              - quoteDateTime
              - insurerQuoteId
            type: object
            description: Informações da cotação enviada pela seguradora
            properties:
              insurerQuoteId:
                type: string
                description: |
                  Id da proposta da segurada
              quoteDateTime:
                type: string
                format: date-time
                pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$'
                example: "2023-05-21T08:30:00Z"
                description: Data e hora da cotação
              susepProcessNumbers:
                description: "Número do Processo Susep das Coberturas"
                type: array
                items:
                  type: string
                  maxLength: 50
              updatingIndex:
                description: Índice de atualização dos valores do contrato
                type: string
                enum: [
                  IPCA,
                  IGP_M,
                  INPC,
                  OUTROS,
                  NAO_SE_APLICA
                ]
              updatingPeriodicity:
                description: Periodicidade de atualização
                type: string
                enum: [
                  ANUAL,
                  OUTROS
                ]    
              coverages:
                type: array
                description: Lista que agrupa os dados de coberturas.
                items:
                  $ref: '#/components/schemas/ResultQuotePatrimonialCondominiumCoverage'
              assistances:
                type: array
                description: Lista que agrupa dados de assistências.
                items:
                  $ref: '#/components/schemas/QuoteResultAssistance'    
              premiumInfo:
                $ref: '#/components/schemas/QuoteResultPremium'
        quoteCustomData:
          $ref: '#/components/schemas/QuoteCustomData'

    ResultQuotePatrimonialCondominiumCoverage:
      type: object
      required:
        - branch
        - code
        - isSeparateContractingAllowed
        - maxLMI
      properties:
        branch:
          description: Grupo e ramo da cobertura
          type: string
          maxLength: 4
          example: "0111"
        code:
            type: string
            description: Código da cobertura, conforme Anexo II do Manuel de Escopo de Dados
            enum: [
              RESIDENCIAL_IMOVEL_BASICA,
              RESIDENCIAL_IMOVEL_AMPLA,
              RESIDENCIAL_INCENDIO,
              RESIDENCIAL_QUEDA_DE_RAIO,
              RESIDENCIAL_EXPLOSAO,
              RESIDENCIAL_IMPACTO_DE_AERONAVES,
              RESIDENCIAL_ALAGAMENTO,
              RESIDENCIAL_DANOS_ELETRICOS,
              RESIDENCIAL_DANOS_POR_AGUA,
              RESIDENCIAL_RESPONSABILIDADE_CIVIL_FAMILIAR,
              RESIDENCIAL_VENDAVAL,
              RESIDENCIAL_DANOS_A_EQUIPAMENTOS_ELETRONICOS,
              RESIDENCIAL_TERREMOTO,
              RESIDENCIAL_PERDA_E_PAGAMENTO_DE_ALUGUEL,
              RESIDENCIAL_ROUBO_E_SUBTRACAO_DE_BENS,
              RESIDENCIAL_QUEBRA_DE_VIDROS,
              RESIDENCIAL_IMPACTO_DE_VEICULOS,
              RESIDENCIAL_DESMORONAMENTO,
              RESIDENCIAL_TUMULTOS_GREVES_E_LOCKOUTS,
              RESIDENCIAL_DESPESAS_EXTRAORDINARIAS,
              RESIDENCIAL_JOIAS_E_OBRAS_DE_ARTE,
              CONDOMINIAL_COBERTURA_BASICA_SIMPLES,
              CONDOMINIAL_COBERTURA_BASICA_AMPLA,
              CONDOMINIAL_ANUNCIOS_LUMINOSOS,
              CONDOMINIAL_DANOS_AO_JARDIM,
              CONDOMINIAL_DANOS_ELETRICOS,
              CONDOMINIAL_DESMORONAMENTO,
              CONDOMINIAL_DESPESAS_COM_ALUGUEL,
              CONDOMINIAL_EQUIPAMENTOS,
              CONDOMINIAL_FIDELIDADE_DE_EMPREGADOS,
              CONDOMINIAL_IMPACTO_DE_VEICULOS,
              CONDOMINIAL_VIDA_E_ACIDENTES_PESSOAIS_EMPREGADOS,
              CONDOMINIAL_LUCROS_CESSANTES,
              CONDOMINIAL_QUEBRA_DE_VIDROS_ESPELHOS_MARMORES_E_GRANITOS,
              CONDOMINIAL_RESPONSABILIDADE_CIVIL,
              CONDOMINIAL_ROUBO,
              CONDOMINIAL_VALORES,
              CONDOMINIAL_VAZAMENTO,
              CONDOMINIAL_VENDAVAL,
              CONDOMINIAL_ALAGAMENTO,
              CONDOMINIAL_TUMULTO,
              EMPRESARIAL_INCENDIO_QUEDA_DE_RAIO_E_EXPLOSAO,
              EMPRESARIAL_DANOS_ELETRICOS,
              EMPRESARIAL_VENDAVAL_ATE_FUMACA,
              EMPRESARIAL_DESMORONAMENTO,
              EMPRESARIAL_ALAGAMENTO_E_INUNDACAO,
              EMPRESARIAL_TUMULTOS_GREVES_LOCKOUT_E_ATOS_DOLOSOS,
              EMPRESARIAL_ROUBO_E_FURTO_QUALIFICADO,
              EMPRESARIAL_VALORES,
              EMPRESARIAL_QUEBRA_DE_VIDROS_ESPELHOS_MARMORES_E_GRANITOS,
              EMPRESARIAL_ANUNCIOS_LUMINOSOS,
              EMPRESARIAL_FIDELIDADE_DE_EMPREGADOS,
              EMPRESARIAL_RECOMPOSICAO_DE_REGISTROS_E_DOCUMENTOS,
              EMPRESARIAL_DETERIORACAO_DE_MERCADORIAS_EM_AMBIENTES_FRIGORIFICADOS,
              EMPRESARIAL_DERRAME,
              EMPRESARIAL_VAZAMENTO,
              EMPRESARIAL_EQUIPAMENTOS,
              EMPRESARIAL_QUEBRA_DE_MAQUINAS,
              EMPRESARIAL_RESPONSABILIDADE_CIVIL,
              EMPRESARIAL_DESPESAS_EXTRAORDINARIAS,
              EMPRESARIAL_LUCROS_CESSANTES_DESPESAS_FIXAS_LUCRO_LIQUIDO_LUCRO_BRUTO,
              EMPRESARIAL_PERDA_OU_PAGAMENTO_DE_ALUGUEL,
              EMPRESARIAL_PEQUENAS_OBRAS_DE_ENGENHARIA,
              DIVERSOS_DANOS_DE_CAUSA_EXTERNA,
              DIVERSOS_DANOS_DE_CAUSA_EXTERNA_E_ROUBO,
              DIVERSOS_ROUBO,
              SERVICOS_EMERGENCIAIS,
              SERVICOS_DE_CONVENIENCIA,
              GARANTIA_ESTENDIDA_ORIGINAL,
              GARANTIA_ESTENDIDA_AMPLIADA,
              GARANTIA_ESTENDIDA_REDUZIDA,
              COMPLEMENTACAO_DE_GARANTIA,
              CESSANTES_LUCRO_BRUTO_LUCRO_LIQUIDO_E_DESPESAS_FIXAS,
              CESSANTES_LUCRO_LIQUIDO,
              CESSANTES_DESPESAS_FIXAS,
              CESSANTES_PERDA_DE_RECEITA_OU_INTERRUPCAO_DE_NEGOCIOS,
              ENGENHARIA_OBRAS_CIVIS_CONSTRUCAO_E_INSTALACAO_E_MONTAGEM,
              ENGENHARIA_AFRETAMENTOS_DE_AERONAVES,
              ENGENHARIA_ARMAZENAGEM_FORA_DO_CANTEIRO_DE_OBRAS_OU_LOCAL_SEGURADO,
              ENGENHARIA_DANOS_EM_CONSEQUENCIA_DE_ERRO_DE_PROJETO_RISCO_DO_FABRICANTE,
              ENGENHARIA_DANOS_MORAIS,
              ENGENHARIA_DESPESAS_COM_DESENTULHO_DO_LOCAL,
              ENGENHARIA_DESPESAS_DE_SALVAMENTO_E_CONTENCAO_DE_SINISTROS,
              ENGENHARIA_DESPESAS_EXTRAORDINARIAS,
              ENGENHARIA_EQUIPAMENTOS_DE_ESCRITORIO_E_INFORMATICA,
              ENGENHARIA_EQUIPAMENTOS_MOVEIS_OU_ESTACIONARIOS_UTILIZADOS_NA_OBRA,
              ENGENHARIA_FERRAMENTAS_DE_PEQUENO_E_MEDIO_PORTE,
              ENGENHARIA_HONORARIOS_DE_PERITO,
              ENGENHARIA_INCENDIO_APOS_O_TERMINO_DE_OBRAS_ATE_TRINTA_DIAS_EXCETO_PARA_REFORMAS_OU_AMPLIACOES,
              ENGENHARIA_LUCROS_CESSANTES,
              ENGENHARIA_MANUTENCAO_AMPLA_ATE_VINTE_E_QUATRO_MESES,
              ENGENHARIA_MANUTENCAO_SIMPLES_ATE_VINTE_E_QUATRO_MESES,
              ENGENHARIA_OBRAS_CONCLUIDAS,
              ENGENHARIA_OBRAS_TEMPORARIAS,
[...]
